@media screen and (max-width:550px) {
    .bg {
        background-color: #ffa1a9;
        height: 100vh;
        width: 100vw;
        overflow-y: scroll;
        padding: 20px;
    }

    .h1 {
        color: #2a2a63;
        font-weight: 700;
        font-size: 30px;
    }

    .p1 {
        color: #2a2a63;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 2px;
    }

    hr {
        border: 3px solid #2a2a63;
    }

    .profile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name-con {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .address-con {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .para-1 {
        text-align: center;
        margin-bottom: 0px;
        margin-top: 0px;
        color: #2a2a63;
        font-weight: 600;
    }

    .para {
        text-align: center;
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: 400;
        color: #2a2a63;
        margin-top: 0px;
    }

    .main-head {
        color: #2a2a63;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .work-p {
        color: #2a2a63;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 5px;
        font-family: Sans-serif;
    }

    .work-p1 {
        color: #2a2a63;
        font-size: 15px;
        font-family: Sans-serif;
    }

    .main-2 {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        opacity: 5;
    }

    .icons-container {
        display: flex;
        flex-direction: row;
    }

    .iconEl {
        font-size: 60px;
        color: #ffa1a9;
        text-align: center;
    }

    .list-rate {
        display: flex;
        flex-direction: row;
    }

    .rate {
        margin-left: 40vw;
    }

    .INTRESTS {
        color: #2a2a63;
        font-size: 20px;
        font-weight: 600;
    }

    .icon-con {
        background-color: #2a2a63;
        width: 100px;
        padding: 22px;
        border-radius: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .icons-con {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .skill {
        font-size: 18px;
        color: #2a2a63;
        font-weight: 700;
    }
}